<!doctype html>
<html lang="zh-cn">
  <head>
    <title>合约查询</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="eth钱包">
    <meta name="description" content="eth合约查询">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <script type="text/javascript">
      (function(doc, win) {
        var basicWidth = window.basicWidth || 750;
        var minWidth = 320;
        var htmlElement = doc.documentElement;
        var recalc = function() {
          var clientWidth = htmlElement.clientWidth || (basicWidth / 2);
          clientWidth = clientWidth < minWidth? minWidth : clientWidth;
          htmlElement.style.fontSize = 100 * (clientWidth / basicWidth) + 'px';
        };
        recalc();
        if (!win.addEventListener) return;
        win.addEventListener('resize', recalc, false);
      })(document, window);
    </script>    <link rel="stylesheet" href="/css/query.css">
  </head>
  <body>
    <div id="app">
  <template>
    <div class="page-tabbar">
      <div class="page-wrap">
        <mt-tab-container style="height:100%;" swipeable v-model="selected">
          <mt-tab-container-item id="query">
            <div class="query-main-wrap">
              <h2 class="query-title">合约查询</h2>
              <mt-field class="ui-mt-10" label="钱包地址" placeholder="请输入要查询的钱包地址" type="text" v-model="query.address"></mt-field>
              <div class="grid">
                <mt-button size="large" @click="queryContract" type="primary" class="ui-mt-20" icon="search">查询</mt-button>
              </div>
              <div v-if="showResult" class="query-result-wrap ui-mt-20">
                <div class="query-result-total" v-if="queryResultList.length > 0">
                  <span>共<span v-html="queryResultList.length"></span>条合约</span>
                </div>
                <div class="query-result-item" v-for="(ret, index) in queryResultList" v-if="queryResultList.length > 0">
                  <p>合约<span v-html="index+1"></span></p>
                  <dl>
                    <dt>合约地址</dt>
                    <dd v-html="ret['2']"></dd>
                  </dl>
                  <dl>
                    <dt>合约别名</dt>
                    <dd v-html="ret['0']"></dd>
                  </dl>
                  <dl>
                    <dt>购买价格</dt>
                    <dd v-html="ret['1']"></dd>
                  </dl>
                  <dl>
                    <dt><a :href="jumpUrl">ABI详情</a></dt>
                  </dl>
                </div>
                <mt-cell v-else title="合约数量" value="0"></mt-cell>
              </div>
            </div>
          </mt-tab-container-item>
          <mt-tab-container-item id="charge">
            <div class="charge-guide">
              <h4 class="guide__title">充值指引</h4>
              <p class="step-title">第一步：转账到如下工厂地址</p>
              <dl class="step-detail">
                <dd><b v-html="factoryAddr"></b></dd>
              </dl>
              <p class="step-title">第二步：转账成功后使用自己的钱包地址查询生成的合约信息</p>
              <p class="step-title">第三步：通过合约地址和abi到myetherwallet进行合约参数初始化，设置代币名字</p>
            </div>
          </mt-tab-container-item>
          <mt-tab-container-item id="qa">
            <dl class="qa-item">
              <dt class="qa-title">常见问题一</dt>
              <dd>阿斯顿发生</dd>
              <dd>阿斯顿发生</dd>
              <dd>阿斯顿发生</dd>
            </dl>
            <dl class="qa-item">
              <dt class="qa-title">常见问题一</dt>
              <dd>阿斯顿发生</dd>
              <dd>阿斯顿发生</dd>
              <dd>阿斯顿发生</dd>
            </dl>
          </mt-tab-container-item>
        </mt-tab-container>
      </div>
      <mt-tabbar v-model="selected">
        <mt-tab-item id="query">
          <i slot="icon" class="iconfont icon-querycondition"></i>
          查询合约
        </mt-tab-item>
        <mt-tab-item id="charge">
          <i slot="icon" class="iconfont icon-chongzhi"></i>
          充值
        </mt-tab-item>
        <mt-tab-item id="qa">
          <i slot="icon" class="iconfont icon-changjianwenti"></i>
          常见问题
        </mt-tab-item>
      </mt-tabbar>
    </div>
    <div class="loading" v-if="loading">
      <mt-spinner color="#26a2ff" :size="50"  type="triple-bounce"></mt-spinner>
    </div>
  </template>
</div>
    <script src="/js/vendor.js"></script>
    <script src="/js/query.js"></script>
  </body>
</html>
